<form id="create-story" class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Photo</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="file has-name">
          <label class="file-label">
            <input id="file-input" class="file-input" type="file" accept="image/*">
            <input name="image" type="hidden" required>
            <span class="file-cta">
              <span class="file-icon">
                <span class="iconify" data-icon="fa-solid:file"></span>
              </span>
              <span class="file-label">
                Upload
              </span>
            </span>
            <span id="file-name" class="file-name">No file chosen</span>
          </label>
        </div>
      </div>
      <div class="field">
        <a class="button modal-button is-light" data-target="camera">
          <span class="icon">
            <span class="iconify" data-icon="fa-solid:camera"></span>
          </span>
          <span>Camera</span>
        </a>

        <!--Camera modal-->
        <div id="camera" class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <video id="video" autoplay></video>
                  <canvas id="canvas" class="is-hidden"></canvas>
                  <div id="filter-tabs" class="tabs is-toggle">
                    <ul class="is-marginless">
                      <li class="is-active camera-filter" data-value="none"><a>Original</a></li>
                      <li class="camera-filter" data-value="blur"><a>Blur</a></li>
                      <li class="camera-filter" data-value="brightness"><a>Brighten</a></li>
                      <li class="camera-filter" data-value="contrast"><a>Contrast</a></li>
                      <li class="camera-filter" data-value="grayscale"><a>Grayscale</a></li>
                      <li class="camera-filter" data-value="huerotate"><a>Hue-rotate</a></li>
                      <li class="camera-filter" data-value="invert"><a>Invert</a></li>
                      <li class="camera-filter" data-value="saturate"><a>Saturate</a></li>
                      <li class="camera-filter" data-value="sepia"><a>Sepia</a></li>
                    </ul>
                  </div>
                  <div class="buttons is-centered">
                    <a id="capture" class="button is-danger">Capture</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Event</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <div class="select is-fullwidth">
            <select id="story-event" name="event" required></select>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Caption</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea name="caption" class="textarea has-fixed-size" placeholder="Write a caption" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
