<form class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Story Photo</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-icon">
                <span class="iconify" data-icon="fa-solid:camera"></span>
              </span>
              <span class="file-label">
                Upload photo
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Location</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input id="autocomplete" class="input" type="search" placeholder="Enter a place or address">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Description</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea class="textarea has-fixed-size" placeholder="Tell people more about the event" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary">
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
