<div class="columns is-centered">
  <div class="column is-half">
    <div class="tabs is-fullwidth">
      <ul>
        <li <%= path === 'create_story' ? "class=is-active" : '' %>>
          <a href="/create">Create Story</a>
        </li>
        <li <%= path === 'create_event' ? "class=is-active" : '' %>>
          <a href="/create/event">Create Event</a>
        </li>
      </ul>
    </div>
  </div>
</div>
