<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Zer Jun Eng">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#f4d673">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">

  <!--Preload-->
  <link rel="preload" href="/stylesheets/style.css" as="style">
  <link rel="preload" href="/javascripts/script.js" as="script">

  <!--CSS-->
  <link crossorigin rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
  <link crossorigin rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link crossorigin rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
  <link crossorigin rel="stylesheet" href="https://cdn.jsdelivr.net/npm/node-snackbar/dist/snackbar.min.css">
  <link crossorigin rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.min.css">
  <link rel="stylesheet" href='/stylesheets/style.css'>

  <title><%= title %></title>
</head>

<body class="has-background-white-bis has-navbar-fixed-top">
  <% include ../partials/nav.ejs %>

  <div id="offline" class="notification is-warning is-radiusless has-text-centered has-text-weight-bold">
    No internet connection
  </div>

  <div id="snackbar"></div>

  <%- body %>

  <!--JavaScripts-->
  <script crossorigin src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/@iconify/iconify/dist/iconify.min.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/flexsearch/dist/flexsearch.min.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/autosize/dist/autosize.min.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/node-snackbar/dist/snackbar.min.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADJ3makQvB2HU3yBydhdiYUgTsnit5QBA&libraries=places"></script>
  <script src="/javascripts/script.js"></script>
  <script type="module" src="/javascripts/databases/database.mjs"></script>
  <script type="module" src="/javascripts/script.mjs"></script>
</body>
</html>
