<div id="stories">
  <div class="columns is-mobile is-multiline"></div>
</div>

<div id="story" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <nav class="level is-mobile is-marginless">
            <div class="level-item">
              <a class="profile-link">
                <figure class="image is-48x48">
                  <img id="user-image-modal" class="is-rounded" src="/images/default.webp" alt="User profile image">
                </figure>
              </a>
            </div>
            <div class="level-item">
              <a class="profile-link">
                <p class="title is-6 story-username"></p>
              </a>
            </div>
          </nav>
        </div>
      </header>

      <div class="card-image">
        <figure class="image">
          <img id="story-image" src="/images/placeholder.webp" alt="Story image">
        </figure>
      </div>

      <div class="card-content">
        <div class="content">
          <a class="profile-link">
            <p class="title is-6 story-username is-inline"></p>
          </a>
          <p id="caption" class="is-inline"></p>
          <hr>
        </div>
        <div id="comments" class="content">
          <p class="subtitle is-6"><strong>lorem ipsum</strong>Lorem Ipsum1</p>
          <p class="subtitle is-6"><strong>lorem ipsumngel1</strong>Lorem Ipsum2</p>
          <p class="subtitle is-6"><strong>glorem ipsumlove1</strong>Lorem Ipsum3</p>
          <p class="subtitle is-6"><strong>lorem ipsumwaii1</strong>Lorem Ipsum4</p>
          <p class="subtitle is-6"><strong>glorem ipsui</strong>Lorem Ipsum5</p>
          <p class="subtitle is-6"><strong>glorem ipsum1</strong>Lorem Ipsum6</p>
          <p class="subtitle is-6"><strong>galorem ipsumfan1</strong>Lorem Ipsum7</p>
          <p class="subtitle is-6"><strong>gi_fan1</strong>Lorem Ipsum8</p>
          <p class="subtitle is-6"><strong>gklorem ipsuman1</strong>Lorem Ipsum9</p>
          <p class="subtitle is-6"><strong>gakki_fan1</strong>Lorem Ipsum11</p>
          <p class="subtitle is-6"><strong>gakki_fan2</strong>Lorem Ipsum12</p>
          <p class="subtitle is-6"><strong>dogeshiba</strong>Lorem Ipsum13</p>
          <p class="subtitle is-6"><strong>animal</strong>Lorem Ipsum15</p>
          <p class="subtitle is-6"><strong>testueser</strong>Lorem Ipsum17</p>
          <p class="subtitle is-6"><strong>goku</strong>Lorem Ipsum16</p>
          <p class="subtitle is-6"><strong>dragon</strong>Lorem Ipsum18</p>
          <p class="subtitle is-6"><strong>unicorn</strong>Lorem Ipsum19</p>
        </div>
      </div>

      <footer class="card-footer">
        <div id="like" class="is-flex">
          <a class="has-text-black">
            <span class="icon is-large">
              <span class="iconify" data-icon="bytesize:heart"></span>
              <!--            <span class="iconify" data-icon="flat-color-icons:like"></span>-->
            </span>
          </a>
          <p class="subtitle is-6 has-text-weight-bold">0 likes</p>
        </div>
        <div id="reply" class="is-flex">
          <textarea name="reply" class="textarea has-fixed-size" placeholder="Add a comment"></textarea>
          <a id="post-reply">Post</a>
        </div>
      </footer>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
