<div class="story-image-columns columns is-mobile">
  <div class="story-image-column column is-4">
    <figure class="image is-flex modal-button" data-target="story">
      <img src="/images/test.jpg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex modal-button" data-target="story">
      <img src="/images/logo_text.svg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex modal-button" data-target="story">
      <img src="/images/logo.svg" alt="Story image">
    </figure>
  </div>
</div>

<div class="story-image-columns columns is-mobile">
  <div class="story-image-column column is-4">
    <figure class="image is-flex modal-button" data-target="story">
      <img src="/images/logo_text.svg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex modal-button" data-target="story">
      <img src="/images/gakki.jpg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex modal-button" data-target="story">
      <img src="/images/logo.svg" alt="Story image">
    </figure>
  </div>
</div>

<div id="story" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="card">

      <div class="columns is-gapless">
        <div class="column"></div>

        <div class="column">
          <header class="card-header">
            <div class="card-header-title">
              <nav class="level is-mobile is-marginless">
                <div class="level-item">
                  <figure class="image is-48x48">
                    <img id="user-image-modal" class="is-rounded" src="" alt="User profile image">
                  </figure>
                </div>
                <div class="level-item">
                  <p class="title is-6">gakki le mari mari mari mari m </p>
                </div>
              </nav>
            </div>
          </header>

          <div id="first-card-content" class="card-content is-paddingless">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img id="story-image" class="story-image-modal" src="" alt="Story image">
                </figure>
              </div>

              <div class="card-content">
                <div class="content">
                  <p class="subtitle is-6">Gakki is cute1</p>
                  <p class="subtitle is-6">Gakki is cute2</p>
                  <p class="subtitle is-6">Gakki is cute3</p>
                  <p class="subtitle is-6">Gakki is cute4</p>
                  <p class="subtitle is-6">Gakki is cute5</p>
                  <p class="subtitle is-6">Gakki is cute6</p>
                  <p class="subtitle is-6">Gakki is cute7</p>
                  <p class="subtitle is-6">Gakki is cute8</p>
                  <p class="subtitle is-6">Gakki is cute9</p>
                  <p class="subtitle is-6">Gakki is cute11</p>
                  <p class="subtitle is-6">Gakki is cute12</p>
                  <p class="subtitle is-6">Gakki is cute13</p>
                  <p class="subtitle is-6">Gakki is cute14</p>
                  <p class="subtitle is-6">Gakki is cute15</p>
                  <p class="subtitle is-6">Gakki is cute16</p>
                  <p class="subtitle is-6">Gakki is cute17</p>
                  <p class="subtitle is-6">Gakki is cute18</p>
                  <p class="subtitle is-6">Gakki is cute19</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
