<div class="story-image-columns columns is-mobile">
  <div class="story-image-column column is-4">
    <figure class="image is-flex is-squared modal-button" data-target="story">
      <img src="/images/gakki.jpg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex is-squared modal-button" data-target="story">
      <img src="/images/logo_text.svg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex is-squared modal-button" data-target="story">
      <img src="/images/logo.svg" alt="Story image">
    </figure>
  </div>
</div>

<div class="story-image-columns columns is-mobile">
  <div class="story-image-column column is-4">
    <figure class="image is-flex is-squared modal-button" data-target="story">
      <img src="/images/logo_text.svg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex is-squared modal-button" data-target="story">
      <img src="/images/gakki.jpg" alt="Story image">
    </figure>
  </div>

  <div class="story-image-column column is-4">
    <figure class="image is-flex is-squared modal-button" data-target="story">
      <img src="/images/logo.svg" alt="Story image">
    </figure>
  </div>
</div>

<div id="story" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <nav class="level is-mobile">
            <div class="level-item has-text-centered">
              <figure class="image is-48x48">
                <img id="user-image-modal" class="is-rounded" src="" alt="User profile image">
              </figure>
            </div>
            <div class="level-item has-text-centered">
              <p class="title is-6">gakki le mari mari</p>
            </div>
          </nav>
        </div>
      </header>

      <div class="card-image">
        <figure class="image is-squared">
          <img id="story-image" class="story-image-modal" src="" alt="Story image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          Gakki is cute
        </div>
      </div>
    </div>

  </div>
  <button class="modal-close is-large" aria-label="close" />
</div>
