<div id="stories">
  <div class="columns is-mobile is-multiline">
    <div class="column is-4">
      <figure class="image is-flex modal-button" data-target="story">
        <img src="/images/gakki2.webp" alt="Story image">
      </figure>
    </div>

    <div class="column is-4">
      <figure class="image is-flex modal-button" data-target="story">
        <img src="/images/logo_text.webp" alt="Story image">
      </figure>
    </div>

    <div class="column is-4">
      <figure class="image is-flex modal-button" data-target="story">
        <img src="/images/original/logo.svg" alt="Story image">
      </figure>
    </div>

    <div class="column is-4">
      <figure class="image is-flex modal-button" data-target="story">
        <img src="/images/logo_text.webp" alt="Story image">
      </figure>
    </div>

    <div class="column is-4">
      <figure class="image is-flex modal-button" data-target="story">
        <img src="/images/gakki.webp" alt="Story image">
      </figure>
    </div>

    <div class="column is-4">
      <figure class="image is-flex modal-button" data-target="story">
        <img src="/images/original/logo.svg" alt="Story image">
      </figure>
    </div>
  </div>
</div>


<div id="story" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <nav class="level is-mobile is-marginless">
            <div class="level-item">
              <figure class="image is-48x48">
                <img id="user-image-modal" class="is-rounded" src="/images/default.webp" alt="User profile image">
              </figure>
            </div>
            <div class="level-item">
              <p class="title is-6">gakki le mari mari mari mari m</p>
            </div>
          </nav>
        </div>
      </header>

      <div class="card-image">
        <figure class="image">
          <img id="story-image" src="/images/placeholder.webp" alt="Story image">
        </figure>
      </div>

      <div class="card-content">
        <div class="content">
          <p><strong>gakki</strong> Some caption here, not yet implemented
          </p>
          <hr>
        </div>
        <div class="content">
          <p class="subtitle is-6"><strong>lorem ipsum</strong>Lorem Ipsum1</p>
          <p class="subtitle is-6"><strong>lorem ipsumngel1</strong>Lorem Ipsum2</p>
          <p class="subtitle is-6"><strong>glorem ipsumlove1</strong>Lorem Ipsum3</p>
          <p class="subtitle is-6"><strong>lorem ipsumwaii1</strong>Lorem Ipsum4</p>
          <p class="subtitle is-6"><strong>glorem ipsui</strong>Lorem Ipsum5</p>
          <p class="subtitle is-6"><strong>glorem ipsum1</strong>Lorem Ipsum6</p>
          <p class="subtitle is-6"><strong>galorem ipsumfan1</strong>Lorem Ipsum7</p>
          <p class="subtitle is-6"><strong>gi_fan1</strong>Lorem Ipsum8</p>
          <p class="subtitle is-6"><strong>gklorem ipsuman1</strong>Lorem Ipsum9</p>
          <p class="subtitle is-6"><strong>gakki_fan1</strong>Lorem Ipsum11</p>
          <p class="subtitle is-6"><strong>gakki_fan2</strong>Lorem Ipsum12</p>
          <p class="subtitle is-6"><strong>dogeshiba</strong>Lorem Ipsum13</p>
          <p class="subtitle is-6"><strong>animal</strong>Lorem Ipsum15</p>
          <p class="subtitle is-6"><strong>testueser</strong>Lorem Ipsum17</p>
          <p class="subtitle is-6"><strong>goku</strong>Lorem Ipsum16</p>
          <p class="subtitle is-6"><strong>dragon</strong>Lorem Ipsum18</p>
          <p class="subtitle is-6"><strong>unicorn</strong>Lorem Ipsum19</p>
        </div>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
