<%- contentFor('body') %>

<section id="event" class="section">
  <div class="container">

    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img id="event-image" src="" alt="Event image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <p id="start-month" class="subtitle is-6 has-text-danger"></p>
            <p id="start-date" class="title is-4 has-text-centered"></p>
          </div>
          <div class="media-content">
            <p id="event-name" class="title is-4"></p>
            <p class="subtitle is-6"><a id="host"></a></p>
          </div>
        </div>

        <div class="buttons has-addons">
          <span id="interested" class="button interested-button" data-id="">
            <span class="border icon iconify" data-icon="ic:sharp-star-border"></span>
            <span class="solid icon iconify is-hidden" data-icon="ic:sharp-star"></span>
            <span>Interested</span>
          </span>
          <span id="going" class="button going-button" data-id="">
            <span class="icon iconify" data-icon="ic:round-check"></span>
            <span>Going</span>
          </span>
        </div>

        <div class="media">
          <div class="media-content">
            <div class="content">
              <article class="media">
                <span class="media-left icon is-small iconify" data-icon="ic:round-access-time"></span>
                <span id="time"></span>
              </article>
              <article class="media">
                <span class="media-left icon is-small iconify" data-icon="ic:round-location-on"></span>
                <span id="location"></span>
              </article>
              <article class="media">
                <span class="media-left icon is-small iconify" data-icon="fa-solid:user"></span>
                <span id="people"></span>
              </article>
              <article id="genre" class="media is-hidden">
                <span class="media-left icon is-small iconify" data-icon="dashicons:tag"></span>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Description</p>
      </header>
      <div class="card-content">
        <div id="description" class="content"></div>
      </div>
    </div>

  </div>
</section>
