<%- contentFor('body') %>

<section id="event" class="section">
  <div class="container">

    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="/images/gakki.webp" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <p class="subtitle is-6 has-text-danger">JUN</p>
            <p class="title is-4 has-text-centered">14</p>
          </div>
          <div class="media-content">
            <p id="event-name" class="title is-4">Gakki Festival</p>
            <p id="host" class="subtitle is-6">gakki</p>
          </div>
        </div>

        <div class="buttons has-addons">
          <span id="interested" class="button">
            <span id="interested-icon" class="icon iconify" data-icon="ic:sharp-star-border"></span>
            <span>Interested</span>
          </span>
          <span id="going" class="button">
            <span class="icon iconify" data-icon="ic:round-check"></span>
            <span>Going</span>
          </span>
        </div>

        <div class="media">
          <div class="media-content">
            <div class="content">
              <article id="host" class="media">bulma aonvsdfnaidf a fia fbsaibfisa dfsab fasifbas d fsab fjhsbdfsbdfjhb fsbfshb</article>
              <article id="location" class="media">bulma</article>
              <article class="media"><p>34 went · 26 interested</p></article>
              <article class="media">
                <div id="genre" class="tags">
                  <span class="tag">Classical</span>
                  <span class="tag">Classical</span>
                  <span class="tag">Classical</span>
                  <span class="tag">Classical</span>
                  <span class="tag">Classical</span>
                  <span class="tag">Classical</span>
                  <span class="tag">Pop</span>
                  <span class="tag">Pop</span>
                  <span class="tag">Pop</span>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Description
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          something
        </div>
      </div>
    </div>

  </div>
</section>
