<%- contentFor('body') %>

<section id="explore" class="section is-hidden">
  <div class="container">
    <div id="explore-search-box" class="box">
      <form id="explore-search-form">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Looking for</label>
              <div class="control">
                <input name="event" class="input" type="text" placeholder="Event">
              </div>
            </div>
          </div>

          <div class="column is-narrow">
            <div class="field">
              <label class="label">Of</label>
              <div class="select">
                <select id="search-genre" name="genre">
                  <option value="" selected>Genre</option>
                </select>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">In</label>
              <div class="control">
                <input name="address" id="autocomplete-explore" class="input" type="search" placeholder="Location">
              </div>
            </div>
          </div>

          <div class="column">
              <label class="label">On</label>
            <div class="field has-addons">
              <div class="control is-expanded">
                <input id="searchDate" name="date" class="input flatpickr flatpickr-input" type="text" placeholder="Date">
              </div>
              <div class="control">
                <a id="date-clear" class="button">
                  <span class="icon is-small">
                    <span class="iconify" data-icon="emojione-v1:cross-mark"></span>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div id="explore-search" class="column is-narrow">
            <div class="field">
              <label class="label"></label>
              <div class="control">
                <button type="submit" class="button is-light">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr>
      <div class="columns is-centered is-marginless">
        <div class="column is-narrow has-text-centered">
          <button id="map-button" class="button is-light" data-target="map-modal">Open Maps</button>
        </div>
      </div>
    </div>

    <!-- Upcoming events columns-->
    <div id="upcoming" class="columns is-multiline event-columns"></div>

    <!--Past events columns-->
    <h1 id="past-text" class="title has-text-centered">Past Events</h1>
    <div id="past" class="columns is-multiline event-columns"></div>
  </div>

  <div id="map-modal" class="modal">
    <div class="modal-background"></div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</section>
