<%- contentFor('body') %>

<section id="explore" class="section">
  <div class="container">

    <!--Events columns-->
    <div class="columns is-multiline event-columns">
    </div>

  </div>
</section>
