<%- contentFor('body') %>

<section id="<%= path === 'explore_events' ? 'explore-events' : 'explore-stories' %>" class="section is-hidden">
  <% include ./partials/explore_tabs.ejs %>

  <% if (path === 'explore_events') { %>
    <% include ./partials/explore_events.ejs %>
  <% } else if (path === 'explore_stories') { %>
    <% include ./partials/explore_stories.ejs %>
  <% } %>

  <div id="map-modal" class="modal">
    <div class="modal-background"></div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</section>
