<!DOCTYPE html>
<html lang="en">
<% include ./partials/head.ejs %>

<body class="has-background-white-bis has-navbar-fixed-top">
  <% include ./partials/nav.ejs %>

  <section class="section">
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
  </section>

  <% include partials/script.ejs %>
</body>
</html>
