<%- contentFor('body') %>

<section class="section">
  <div class="container">
    <!--Tabs-->
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="tabs is-fullwidth">
          <ul>
            <li <%= path === 'home_stories' ? "class=is-active" : '' %>>
              <a href="/">Stories</a>
            </li>
            <li <%= path === 'home_events' ? "class=is-active" : '' %>>
              <a href="/events">Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <% if (path === 'home_stories') { %>
      <div id="story-feed"></div>
    <% } else if (path === 'home_events') { %>
      <div id="event-feed"></div>
    <% } %>
  </div>
</section>
