<%- contentFor('body') %>

<section id="login" class="hero has-text-centered is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Sign in to get started</h1>
      <a class="login-button button is-large" href="/login">
        <span>Sign in with</span>
        <span class="icon iconify" data-icon="flat-color-icons:google"></span>
      </a>
    </div>
  </div>
</section>
