<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <div class="notification-columns columns is-gapless is-multiline">
            <a href="/" class="card column is-full">
                <div id="notification-image" class="is-vcentered">
                    <figure class="column is-2 image is-64x64 container">
                        <img class="is-rounded" src="/images/gakki.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="notification-content column is-10">
                    <p>@zerjun just followed you</p>
                </div>
            </a>
            <a href="/" class="card column is-full">
                <div id="notification-image" class="is-vcentered">
                    <figure class="column is-2 image is-64x64 container">
                        <img class="is-rounded" src="/images/gakki.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="notification-content column is-10">
                    <p>SomeRandomEvent is coming up</p>
                    <p>Tue, 20th Apr 2019, 19:00-23:00</p>
                </div>
            </a>
        </div>
    </div>
</section>