<%- contentFor('body') %>

<section id="notification" class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64 container">
              <img class="is-rounded" src="/images/gakki.webp" alt="User profile image">
            </figure>
          </div>
          <div class="media-content">
            <p>@zerjun just followed you</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64 container">
              <img class="is-rounded" src="/images/gakki.webp" alt="User profile image">
            </figure>
          </div>
          <div class="media-content">
            <p>@zerjun just followed you</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>