/* Fix ghost CSS padding or margin */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*#ffc038*/
}

@media screen and (max-width: 1088px) {
  /* We have two navbar at tablet view */
  body.has-navbar-fixed-top {
    padding-bottom: 3.25rem;
  }
}

#offline {
  display: none;
  margin-bottom: 0;
  top: 30px;
  padding: .5rem;
}

/* Plugins CSS below */
nav.navbar.is-fixed-bottom .iconify {
  width: 26px;
  height: 26px;
}

svg.solid {
  margin-left: calc(-.375em - 1px);
  margin-right: .1875em;
}

.tagify {
  line-height: normal;
  height: auto;
}

.tagify tag:hover:not([readonly]) div::before {
  -webkit-box-shadow: 0 0 0 20px #d3e2e2 inset;
  box-shadow: 0 0 0 20px #d3e2e2 inset
}

/* Bulma adjustments below */
:root {
  --primary-color: #5755d9;
  --primary-color-hover: #4240d4;
}

::placeholder {
  color: #81858c !important;
}

.tabs li.is-active a {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

.button.is-light {
  border-color: #dbdbdb;
}

/* Offline and section padding fix on tablet and mobile */
@media screen and (max-width: 1087px) {
  #offline {
    top: 0;
  }

  .section {
    padding-top: 10px;
  }
}

.button.is-primary {
  background-color: var(--primary-color);
  color: white;
}

.button.is-primary:hover {
  background-color: var(--primary-color-hover);
}

.button.is-primary.is-outlined {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button.is-primary.is-outlined:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  transition-duration: 0.25s;
}

/* Desktop navbar */
nav.navbar .navbar-brand {
  justify-content: space-between;
}

nav.navbar .navbar-brand .navbar-item:first-child {
  margin-left: 10px;
}

nav.navbar .navbar-menu a.navbar-item.is-active {
  background-color: var(--primary-color);
  color: white;
}

nav #search-control {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 500px;
}

nav #search-suggestion {
  position: absolute;
  width: 100%;
  max-width: 500px;
  background-color: white;
  -webkit-box-shadow: 0 3px 18px -5px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 18px -5px rgba(0, 0, 0, 0.18);
  box-shadow: 0 3px 18px -5px rgba(0, 0, 0, 0.18);
  max-height: 300px;
  overflow: auto;
}

nav #search-suggestion a.panel-block span:not(.panel-icon) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav #search-suggestion .panel-icon {
  height: 24px;
  margin-right: 1.35em
}

nav #search-suggestion .panel-icon .iconify {
  height: 24px;
  width: 24px;
}

/* Mobile bottom navbar */
nav.navbar.is-fixed-bottom.is-hidden-desktop div.columns.is-mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a {
  color: black;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a.is-active {
  color: var(--primary-color);
}

/* Login page */
#login {
  height: 100%;
  min-height: 0;
}

/* Explore page events card column */
.event-columns div.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.event-columns div.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1em 1.25em 1em;
}

.event-columns div.card-content div.content.is-hidden-mobile {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 22px; /* fallback */
  max-height: 44px; /* fallback */
  padding-bottom: 2px;
}

.event-columns div.card-content nav.level {
  margin-top: auto;
}

.event-columns img, #event img {
  object-fit: contain;
}

.month-date {
  align-items: center;
}

.media-content {
  overflow-x: auto;
}

.event-columns .media-content .title a {
  color: initial;
}

.event-columns .media-content .title a:hover {
  text-decoration: underline;
}

.event-columns .host.subtitle, .event-columns .location.subtitle {
  margin-bottom: 0.3em;
}

.event-columns .location.subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Event page */
#event div.card {
  max-width: 550px;
  margin: auto auto 1rem;
  display: grid;
}

#event div.card:last-child {
  margin-bottom: 0;
}

#event div.media-left {
  margin-right: 1.3rem;
}

#event div.card-content .media:first-child {
  margin-bottom: 1rem;
}

#event .media-content {
  overflow-x: visible;
}

#event .media {
  align-items: center;
}

/* Create story page */
#camera div.card-content {
  padding-left: 0;
  padding-right: 0;
}

#camera video, #camera canvas {
  background: black;
  width: 100%;
}

#camera video {
  height: 550px;
}

#camera div.tabs ul {
  width: inherit;
}

#camera div.tabs ul li {
  margin: 0;
}

/* Camera filter effects */
#camera .none {
  filter: none;
}

#camera .blur {
  filter: blur(3px);
}

#camera .brightness {
  filter: brightness(2);
}

#camera .contrast {
  filter: contrast(2);
}

#camera .grayscale {
  filter: grayscale(1);
}

#camera .huerotate {
  filter: hue-rotate(90deg);
}

#camera .invert {
  filter: invert(1);
}

#camera .saturate {
  filter: saturate(5);
}

#camera .sepia {
  filter: sepia(1);
}

/* Create event form adjustment */
#add-end-time {
  align-self: center;
}

/* Notification page columns*/
#notification .card {
  margin: auto;
  max-width: 500px;
}

#notification .card-content {
  padding: 0.75rem 1.5rem;
}

#notification .media {
  align-items: center;
}

/**** User profile page adjustments ****/
.tabs ul {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

#user-profile {
  margin: 0 auto 1.5rem auto;
  max-width: 935px;
}

#user-profile-content {
  padding: 1rem 1.5rem;
  margin: auto;
  display: grid;
  grid-template-columns: 120px minmax(0, 1fr);
  grid-template-areas: "user-image user-name-follow" "user-description user-description" "user-stats user-stats";
}

#user-image {
  padding: .75rem;
  grid-area: user-image;
}

#user-name-follow {
  padding: .75rem;
  grid-area: user-name-follow;
}

#user-name {
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

#user-follow, #user-edit {
  max-width: 180px;
}

#user-description {
  padding-left: .75rem;
  grid-area: user-description;
}

#user #description {
  white-space: pre-line;
  line-height: 24px;
  max-height: 264px;
}

#user-description #genre p.title {
  margin: 0 .5rem .5rem 0;
}

#user-stats {
  grid-area: user-stats;
}

/* User page name and follow specific case */
@media screen and (min-width: 680px) {
  #user-profile-content {
    grid-template-columns: 41.66666% 58.33333%;
    grid-template-areas: "user-image user-name-follow" "user-image user-stats" "user-image user-description";
  }

  #user-image > figure.image {
    height: 128px;
    width: 128px;
  }

  #user-name-follow {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
  }

  #user-name, #user-follow, #user-edit {
    margin: .75rem;
    display: block;
    width: auto;
  }

  #user-name {
    margin-left: 0;
    font-size: 1.25rem;
  }

  #user-description {
    padding-left: 0;
  }

  #user-stats {
    max-width: 400px;
  }

  #user-stats nav {
    border: none;
    display: flex;
  }

  #user-stats nav > div {
    border: none;
    flex-grow: 1;
    padding: 0;
    justify-content: flex-start;
    text-align: left !important;
  }

  #user-stats nav > div:not(:last-child) {
    margin-bottom: 0;
    margin-right: .75rem;
  }

  #user-stats nav > div br {
    content: ''
  }
}

/* User profile page, edit profile modal */
#edit-profile .modal-content {
  overflow: visible;
}

/* User profile page stories */
#stories div.columns {
  min-height: 32.7vw;
  max-width: 935px;
  margin: 0 auto;
}

#stories div.columns .column {
  min-height: 32.7vw;
}

@media screen and (min-width: 983px) {
  #stories div.columns {
    min-height: 300px;
  }

  #stories div.columns .column {
    min-height: 300px;
  }
}

#stories div.column figure {
  height: 100%;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

#stories div.column figure img {
  max-width: 300px;
}

/* User profile story image modal */
#story div.modal-content {
  overflow: hidden;
  max-height: initial;
}

#story header div.card-header-title {
  justify-content: space-between;
}

#story header p.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

#story #profile-event-link {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#story p.story-username {
  padding-right: 5px;
}

#story figure img {
  max-width: 350px;
  margin: 0 auto;
}

#story div.card-content {
  height: 450px;
  overflow: auto;
}

#story footer {
  flex-direction: column;
}

#story footer #like-and-time {
  justify-content: space-between;
}

#story footer #like, #like-and-time {
  align-items: center;
}

#story footer #story-date {
  padding-right: 16px;
}

#story footer .iconify {
  width: 24px;
  height: 24px;
}

#story #reply {
  padding: 0 16px 10px;
  align-items: center;
}

#story #reply textarea {
  min-width: initial;
  min-height: 18px;
  box-shadow: none;
  padding: 0.3rem;
  border: none;
}

/* Edit story modal */
#edit-story #edit-story-buttons {
  justify-content: space-between;
}

/* User profile event card */
#user div.event-columns {
  max-width: 935px;
  margin: auto;
}

/* Desktop viewport adjustments */
@media screen and (min-width: 1088px) {
  /* Scrollbar beautification */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Desktop navbar */
  nav.navbar .navbar-brand a.navbar-item {
    margin-right: 10px;
  }

  nav.navbar .navbar-menu a.navbar-item {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
  }

  nav.navbar .navbar-menu a.navbar-item.is-active {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }

  nav.navbar .navbar-menu a.navbar-item:hover {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }

  /* Explore page event column */
  .event-columns div.column {
    flex: none;
    width: 33.33333%;
  }
}

/* Tablet viewport adjustments */
@media screen and (min-width: 769px) {
  /* User profile story image modal */
  #story div.modal-content {
    width: auto;
    max-width: 900px;
  }

  #story div.card {
    display: grid;
    grid-template-areas: "image header" "image content" "image footer";
  }

  #story header.card-header {
    grid-area: header;
  }

  #story div.card-image {
    display: flex;
    align-items: center;
    grid-area: image;
  }

  #story div.card-image > figure.image {
    margin: 0 auto;
  }

  #story div.card-image > figure > img {
    min-width: 350px;
    max-width: 600px;
  }

  #story div.card-content {
    grid-area: content;
    max-width: 350px;
  }

  #story footer {
    grid-area: footer;
  }

  @media screen and (max-width: 1088px) {
    /* Create form size adjustment */
    #create div.column.is-7 {
      width: 80%;
    }

    /* Explore page event column */
    .event-columns div.column {
      flex: none;
      width: 50%;
    }
  }
}

/* Mobile viewport adjustments */
@media screen and (max-width: 768px) {
  body.has-navbar-fixed-top section.section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Event page */
  #event div.card {
    max-width: 550px;
  }

  /* User profile */
  #user-profile-content {
    padding: .5rem .25rem 0;
  }

  #user-stats div.card-footer-item {
    display: block;
  }

  #stories div.column {
    padding: 5px 3px;
  }

  /* User profile story image modal */
  #story div.card-content {
    height: 380px;
    overflow: auto;
  }

  @media screen and (min-width: 440px) {
    /* Event card column adjustments */
    .event-columns div.card-image {
      grid-area: card-image;
      padding: 5px 5px 5px 0;
    }

    .event-columns div.card-image figure {
      height: 100%;
    }

    .event-columns div.card-image figure img {
      border-radius: 5%;
    }

    .event-columns div.card-content {
      grid-area: card-content;
    }

    .event-columns footer.card-footer {
      grid-area: card-footer;
    }

    .event-columns div.card {
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-areas: 'card-content card-image' 'card-footer card-footer';
    }
  }
}
