/* Fix ghost CSS padding or margin */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*#ffc038*/
}

#offline {
  display: none;
  margin-bottom: 0;
  top: 30px;
  padding: .5rem;
}

/* Plugins CSS below */
.iconify {
  width: 26px;
  height: 26px;
}

/* Bulma adjustments below */
:root {
  --primary-color: #5755d9;
  --primary-color-hover: #4240d4;
}

form ::placeholder {
  color: #81858c !important;
}

.tabs li.is-active a {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

/* Offline and section padding fix on tablet and mobile */
@media screen and (max-width: 1088px) {
  #offline {
    top: 0;
  }

  .section {
    padding-top: 10px;
  }
}

.button.is-primary {
  background-color: var(--primary-color);
  color: white;
}

.button.is-primary:hover {
  background-color: var(--primary-color-hover);
}

.button.is-primary.is-outlined {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button.is-primary.is-outlined:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  transition-duration: 0.25s;
}


/* Desktop navbar */
nav.navbar .navbar-brand .navbar-burger {
  margin-left: 0;
  width: 1.5rem;
}

nav.navbar .navbar-menu a.navbar-item.is-active {
  background-color: var(--primary-color);
  color: white;
}

/* Mobile bottom navbar */
nav.navbar.is-fixed-bottom.is-hidden-desktop div.columns.is-mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a {
  color: black;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a.is-active {
  color: var(--primary-color);
}

/* Explore page events card column */
#explore div.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#explore  div.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1em 1.25em 1em;
}

#explore div.card-content div.content.is-hidden-mobile {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 22px;        /* fallback */
  max-height: 44px;       /* fallback */
  padding-bottom: 2px;
}

#explore  div.card-content nav.level {
  margin-top: auto;
}

#explore img {
  object-fit: cover;
}

.media-content {
  overflow-x: auto;
}

#explore .media-content .title a {
  color: initial;
}

#explore .media-content .title a:hover {
  text-decoration: underline;
}

#explore .host.subtitle, #explore .location.subtitle {
  margin-bottom: 0.2em;
}

#explore .location.subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Notification page columns*/
#notification .card {
  margin: auto;
  max-width: 500px;
}

#notification .card-content {
  padding: 0.75rem 1.5rem;
}

#notification .media {
  align-items: center;
}

/**** User profile page adjustments ****/
.tabs ul {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

#user-profile {
  margin-bottom: 1.5rem;
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;
}

#user-profile-content {
  margin: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 120px minmax(0, 1fr);
  grid-template-areas: "user-image user-name-follow" "user-description user-description" "user-stats user-stats";
}

#user-image {
  padding: .75rem;
  grid-area: user-image;
}

#user-name-follow {
  padding: .75rem;
  grid-area: user-name-follow;
}

#user-name {
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

#user-follow {
  max-width: 180px;
}

#user-description {
  padding-left: .75rem;
  grid-area: user-description;
}

#user-description #genre p.title {
  margin: 0 .5rem .5rem 0;
}

#user-stats {
  grid-area: user-stats;
}

/* User page name and follow specific case */
@media screen and (min-width: 680px) {
  #user-profile-content {
    grid-template-columns: 41.66666% 58.33333%;
    grid-template-areas: "user-image user-name-follow" "user-image user-stats" "user-image user-description";
  }

  #user-image > figure.image {
    height: 128px;
    width: 128px;
  }

  #user-name-follow {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
  }

  #user-name, #user-follow {
    margin: .75rem;
    display: block;
    width: auto;
  }

  #user-name {
    margin-left: 0;
    font-size: 1.25rem;
  }

  #user-description {
    padding-left: 0;
  }

  #user-stats {
    max-width: 400px;
  }

  #user-stats nav {
    border: none;
    display: flex;
  }

  #user-stats nav > div {
    border: none;
    flex-grow: 1;
    padding: 0;
    justify-content: left;
    text-align: left !important;
  }

  #user-stats nav > div:not(:last-child) {
    margin-bottom: 0;
    margin-right: .75rem;
  }

  #user-stats nav > div br {
    content: ''
  }
}

/* User profile page stories */
#stories div.columns {
  min-height: 37.5vw;
  max-width: 935px;
  margin: 0 auto;
}

@media screen and (min-width: 983px) {
  #stories div.columns {
    min-height: 369px;
  }
}

#stories div.column figure {
  height: 100%;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

#stories div.column figure img {
  max-width: 300px;
}

/* User profile story image modal */
#story div.modal-content {
  overflow: hidden;
}

#story header p.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

#story div.card-content {
  height: 450px;
  overflow: auto;
}

#story figure img {
  max-width: 350px;
  margin: 0 auto;
}

/* Desktop viewport adjustments */
@media screen and (min-width: 1088px) {
  /* Desktop navbar */
  nav.navbar .navbar-brand a.navbar-item {
    margin-right: 10px;
  }

  nav.navbar .navbar-menu a.navbar-item {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
  }

  nav.navbar .navbar-menu a.navbar-item.is-active {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }

  nav.navbar .navbar-menu a.navbar-item:hover {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }

  /* Explore page event column */
  #explore div.column {
    flex: none;
    width: 33.33333%;
  }
}

/* Tablet viewport adjustments */
@media screen and (min-width: 769px) {
  /* User profile story image modal */
  #story div.modal-content {
    width: auto;
    max-width: 900px;
  }

  #story div.card {
    display: grid;
    grid-template-areas: "image header" "image content";
  }

  #story header.card-header {
    grid-area: header;
  }

  #story div.card-image {
    display: flex;
    align-items: center;
    grid-area: image;
  }

  #story div.card-image > figure.image {
    margin: 0 auto;
  }

  #story div.card-image > figure > img {
    min-width: 350px;
    max-width: 600px;
  }

  #story div.card-content {
    grid-area: content
  }

  @media screen and (max-width: 1088px) {
    /* Create form size adjustment */
    #create div.column.is-7 {
      width: 80%;
    }

    /* Explore page event column */
    #explore div.column {
      flex: none;
      width: 33.33333%;
    }
  }
}

/* Mobile viewport adjustments */
@media screen and (max-width: 768px) {
  body.has-navbar-fixed-top section.section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* User profile */
  #user-profile div.card-content:first-child {
    padding: .5rem .25rem 0;
  }

  #user-stats div.card-footer-item {
    display: block;
  }

  #stories div.column {
    padding: 5px 3px;
  }

  @media screen and (min-width: 440px) {
    /* Event card column adjustments */
    #explore div.card-image {
      grid-area: card-image;
      padding: 5px 5px 5px 0;
    }

    #explore div.card-image figure {
      height: 100%;
    }

    #explore div.card-image figure img {
      border-radius: 5%;
    }

    #explore div.card-content {
      grid-area: card-content;
    }

    #explore footer.card-footer {
      grid-area: card-footer;
    }

    #explore div.card {
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-areas: 'card-content card-image' 'card-footer card-footer';
    }
  }
}
