/* Fix ghost CSS padding or margin */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*#ffc038*/
}


/* Plugins CSS below */
.iconify {
  width: 26px;
  height: 26px;
}

#map {
  width: 0;
  height: 0;
  background-color:transparent;
  display: none;
}

#search-box {
  padding-left: 20px;
  padding-top: 20px;
  width: 800px;
  height: 100px;
}

#result {
  padding-left: 20px;
  padding-top: 20px;
  width: 800px;
  height: 100px;
}

.leaflet-locationiq-results{
  padding-top: 45px;
}

/* Bulma adjustments below */
:root {
  --primary-color: #5755d9;
  --primary-color-hover: #4240d4;
}

form ::placeholder {
  color: #81858c !important;
}

body.has-navbar-fixed-top div.tabs li.is-active a {
  color: var(--primary-color)
}

/* Section padding fix on tablet and mobile */
@media screen and (max-width: 1088px) {
  body.has-navbar-fixed-top section.section {
    padding-top: 10px;
  }
}

.button.is-primary {
  background-color: var(--primary-color);
  color: white;
}

.button.is-primary:hover {
  background-color: var(--primary-color-hover);
}

.button.is-primary.is-outlined {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button.is-primary.is-outlined:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  transition-duration: 0.25s;
}

/* Events card column */
.host.subtitle, .location.subtitle {
  margin-bottom: 0.2em;
}

.media-content {
  overflow-x: auto;
}

.location.subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Notification columns*/
.notification-columns.columns.is-gapless.is-multiline .card .columns {
  margin: 0;
  display: flex;
  text-align: left;
  text-decoration: none;
}

.notification-content {
  align-self: center;
}

/**** User profile page adjustments ****/
.tabs ul {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

#user-profile {
  margin-bottom: 1.5rem;
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;
}

#user-profile .card-content {
  margin: auto;
}

#user-name {
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

#user-follow {
  max-width: 180px;
}

/* User description specific case */
@media screen and (min-width: 500px) {
  #user-description {
    padding-left: 0;
  }
}

/* User stats specific case */
@media screen and (min-width: 650px) {
  #user-stats {
    max-width: 400px;
  }
}

/* User profile story image column */
div.story-image-columns.columns {
  max-width: 935px;
  margin: 0 auto;
}

div.story-image-column figure.image.is-flex {
  height: 100%;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

div.story-image-columns > div.story-image-column figure.image img {
  max-width: 300px;
}

/* User profile story image modal */
#story div.modal-content {
  overflow: hidden;
}

#story div.card div.card-content.is-paddingless {
  overflow: auto;
  max-height: calc(100vh - 260px);
}

/* Desktop navbar */
nav.navbar .navbar-brand .navbar-burger {
  margin-left: 0;
  width: 1.5rem;
}

nav.navbar .navbar-menu a.navbar-item.is-active {
  background-color: var(--primary-color);
  color: white;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.columns.is-mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.columns.is-mobile div.column {
  text-align: center;
}

/* Mobile bottom navbar */
nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a {
  color: black;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a.is-active {
  color: var(--primary-color);
}

/* Desktop viewport adjustments */
@media screen and (min-width: 1088px) {
  /* Desktop navbar */
  nav.navbar .navbar-brand a.navbar-item {
    margin-right: 10px;
  }

  nav.navbar .navbar-menu a.navbar-item {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
  }

  nav.navbar .navbar-menu a.navbar-item.is-active {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }

  nav.navbar .navbar-menu a.navbar-item:hover {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }
}

/* Tablet viewport adjustments */
@media screen and (min-width: 769px) {
  #notification-image > figure.image {
    height: 96px;
    width: 96px;
  }

  #user-image > figure.image {
    height: 128px;
    width: 128px;
  }

  /* User profile story image modal */
  #story div.modal-content {
    overflow: hidden;
    width: calc(100vw - 200px);
    max-width: 900px;
  }

  #story div.card-image {
    min-height: 450px;
    height: 100%;
    background-color: white;
  }

  #story div.card-image figure.image {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Create form size adjustment */
  @media screen and (max-width: 1088px) {
    body > section.section > div.columns > div.column.form-column {
      width: 80%;
    }
  }
}

/* Mobile viewport adjustments */
@media screen and (max-width: 768px) {
  body.has-navbar-fixed-top section.section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Event page */
  div.event-content {
    padding: 1em 1em 0.5em;
  }

  /* User profile */
  #user-profile div.card-content:first-child {
    padding: 1rem 1em 0;
  }

  #user-stats div.card-footer-item {
    display: block;
  }

  div.columns > div.story-image-column {
    padding: 5px 3px;
  }

  /* User profile story image modal */
  figure.image > img.story-image-modal {
    max-width: 320px;
    margin: 0 auto;
  }

  @media screen and (min-width: 420px) {
    /* Event card column adjustments */
    div.card-image-content {
      display: flex;
      flex-direction: row-reverse;
    }

    div.event-content {
      width: 65%;
    }

    div.card-image-content div.card-image {
      width: 35%;
      padding-right: 10px;
    }

    div.card-image-content div.card-image figure.image {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
