html, body {
  margin: 0;
  height: 100%;
  /* background-color: #ffc038!important; */
}

.iconify {
  width: 26px;
  height: 26px;
}

/* Bulma adjustments below */
:root {
  --primary-color: #5755d9;
  --primary-color-hover: #4240d4;
}

.button.is-primary {
  background-color: var(--primary-color);
  color: white;
}

.button.is-primary:hover {
  background-color: var(--primary-color-hover);
}

.button.is-primary.is-outlined {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button.is-primary.is-outlined:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  transition-duration: 0.25s;
}

/* Desktop navbar */
nav.navbar .navbar-brand .navbar-burger {
  margin-left: 0;
}

nav.navbar .navbar-menu .navbar-start a.navbar-item {
  color: black;
}

nav.navbar .navbar-menu .navbar-start a.navbar-item.is-active {
  background-color: var(--primary-color);
  color: white;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.columns.is-mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.columns.is-mobile div.column {
  text-align: center;
}

/* Mobile bottom navbar */
nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a {
  color: black;
}

nav.navbar.is-fixed-bottom.is-hidden-desktop div.navbar-brand a.is-active {
  color: var(--primary-color);
}

/* Desktop viewport adjustments */
@media screen and (min-width: 1088px) {
  /* Desktop navbar */
  nav.navbar .navbar-brand a.navbar-item {
    margin-right: 10px;
  }

  nav.navbar .navbar-menu .navbar-start a.navbar-item {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
  }

  nav.navbar .navbar-menu .navbar-start a.navbar-item.is-active {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }

  nav.navbar .navbar-menu .navbar-start a.navbar-item:hover {
    background-color: white;
    color: var(--primary-color-hover);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
  }
}

/* Tablet viewport adjustments */
@media screen and (min-width: 769px) {
  /* Tablet events column */
  .event-columns {
    flex-direction: column-reverse !important;
  }

  .event-columns div.is-8, .event-columns div.is-4 {
    width: 100% !important;
  }
}